# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtualenv
venv/
env/
ENV/
.venv/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Benchmark artifacts
results/
reports/*.json
reports/*.html
*.ir
*.s
*.o
*.out
